* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px auto;
  width: 60%;
  min-width: 300px;
  height: 60%;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.container p {
  position: absolute;
}

#imgAtual {
  background-color: rgba(255, 255, 255, 0.878);
}

img {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls span {
  padding: 10px;
  height: 100%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.controls span:hover {
  background-color: rgba(0, 0, 0, 0.619);
}

.indicadores {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  clip-path: circle();
  background-color: grey;
  margin: 0 5px;
}